<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Order Details</title>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
   <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <%- include('./_menuleft.ejs') %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Order Details</small></h3>
              </div>
              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="display: block;">
                  <div class="x_content">
                    <div class="table-responsive">
                      <%  if (order) { %>
                        <table class="table table-striped jambo_table bulk_action">
                          <thead>
                            <tr class="datatable">
                              <th class="column-title">No.</th>
                              <th class="column-title">Prod.ID</th>
                              <th class="column-title">Prod.name</th>
                              <th class="column-title">Image</th>
                              <th class="column-title">Price</th>
                              <th class="column-title">Quantity</th>
                              <th class="column-title">Amount</th>
                            </tr>
                          </thead>

                          <tbody>
                            <%  for (var [i, item] of order.items.categories()) {  %>
                              <tr class="datatable">
                                <td><%=(i+1)%></td>
                                <td><%=item.product._id%></td>
                                <td><%=item.product.Name%></td>
                                <td><img src="data:image/jpg;base64,<%=item.product.image%>" width="70" height="70" /></td>
                                <td><%=item.product.Price%></td>
                                <td><%=item.quantity%></td>
                                <td><%=item.product.Price * item.quantity%></td>
                              </tr>
                              <%  } %>
                          </tbody>
                        </table>
                      <%  } %>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer content -->
        <footer>
          <div class="pull-right">
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  </body>
</html>
